---
layout: base
title: Matt Biggin
---
<div class="row">
  <!-- Column 1 -->
  <div class="col-sm-12 col-md-6 col-lg-7">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-left" style="padding-right: 20px;">
          <img src="images/mattbiggin.jpg" height="150" width="150" class="img-circle img-responsive"/>
        </div>
        <div>
          <h1>Hi. I'm Matt Biggin<br/>
            <small>Developer</small>
          </h2>
        </div>
      </div>
    </div>
    <p>
      I'm a developer with 25 years of professional experience working on a broad spectrum of applications mainly in investment banking and financial services. I've spent the last 20 years working as a contractor at various investment banks around the City of London and Canary Wharf.
      I'm a huge fan of writing clean, well tested, reliable code. I take a great deal of pride in the quality of my work and I enjoy the challenge of working on large well established systems.
      I also offer freelance mentoring services so if you need a helping hand with your career then get in touch.
    </p>
    <div class="row">
      <div class="well">
        <h3><a href="blog" title="Blog"><span class="label label-warning"><i class="fa fa-rss"></i></span></a>&nbsp;<small>Java, Web, Microservices, JS, Node.JS, Craftsmanship, Tools</small></h3>
        <small>
          {% for post in site.posts limit:5 %}
            <h4>
              <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
              <small>{{ post.date | date_to_long_string }}</small>
            </h4>
            <div class="row">
              {% if post.thumbnail %}
                <div class="col-sm-2">
                  <img src="{{ post.thumbnail }}" height="75" width="75" class="thumbnail"/>
                </div>
                <div class="col-sm-10">
              {% else %}
                <div class="col-sm-12">
              {% endif %}
                {{ post.synopsis }}
              </div>
            </div>
          {% endfor %}
        </small>
      </div>
    </div>
  </div>

  <!-- Column 2 -->
  <div class="col-sm-12 col-md-6 col-lg-5">
    <div class="well">
      <h3><span class="label label-info">Contracting</span>&nbsp;<small>Core Java, Server-side, Enterprise</small></h3>
      <div>
        Over the past 20 years I have been working as a contractor at various investment banks around the City of London and Canary Wharf. I've worked with a lot of different technologies in that time and seen them used on many varied projects. I bring a deep background in delivering solutions to real problems and creating robust, maintainable systems.
      </div>
      <br/>
    </div>
    <div class="well">
      <h3><span class="label label-default">Freelance</span>&nbsp;<small>Career Advancement and Mentoring</small></h3>
      <div>
        I offer Java mentoring and interview preparation to developers that want to supercharge their careers. Using weekly chats via Skype and unlimited access via email we can fine tune the direction of your career and maximise your growth.
      </div>
      <br/  >
    </div>

    <div class="well">
      <a class="twitter-timeline" href="https://twitter.com/MattBiggin" data-widget-id="430624670119772160">Tweets by @MattBiggin</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
