---
layout: base
title: Matt Biggin
---
<div class="row">
  <!-- Column 1 -->
  <div class="col-sm-12 col-md-6 col-lg-7">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-left" style="padding-right: 20px;">
          <img src="images/mattbiggin.jpg" height="150" width="150" class="img-circle img-responsive"/>
        </div>
        <div>
          <h1>Hi. I'm Matt Biggin<br/>
            <small>Software Craftsman</small>
          </h2>
        </div>
      </div>
    </div>
    <p>
      I'm a software engineer with 21 years of professional experience working on a broad spectrum of applications mainly in investment banking and financial services. I've spent the last 17 years working as a contractor at various investment banks around the City of London and Canary Wharf.
      I'm a huge fan of writing clean, well tested, reliable code. I take a great deal of pride in the quality of my work and I enjoy the challenge of working on large well established systems.
      I also offer freelance software engineering and development services, mainly based around the
      Java platform.
    </p>
    <div>
      <div class="alert alert-info">
        At the moment I'm available for both contract and freelance work. Please get in touch and we can discuss how I can help you.
      </div>
    </div>
    <div class="row">
      <div class="well">
        <h3><a href="blog" title="Blog"><span class="label label-warning"><i class="fa fa-rss"></i></span></a>&nbsp;<small>Java, Apache Camel, Node.JS, Programming, IDEs, Tools</small></h3>
        <small>
          {% for post in site.posts limit:5 %}
            <h4>
              <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
              <small>{{ post.date | date_to_long_string }}</small>
            </h4>
            <div class="row">
              {% if post.thumbnail %}
                <div class="col-sm-2">
                  <img src="{{ post.thumbnail }}" height="75" width="75" class="thumbnail"/>
                </div>
                <div class="col-sm-10">
              {% else %}
                <div class="col-sm-12">
              {% endif %}
                {{ post.synopsis }}
              </div>
            </div>
          {% endfor %}
        </small>
      </div>
    </div>
  </div>

  <!-- Column 2 -->
  <div class="col-sm-12 col-md-6 col-lg-5">
    <div class="well">
      <h3><span class="label label-info">Contracting</span>&nbsp;<small>Core Java, Server-side, Enterprise</small></h3>
      <div>
        Over the past 17 years I have mainly been working as a contractor at various investment banks around the City of London and Canary Wharf. I've worked with a lot of different technologies in that time and seen them used on many varied projects.
      </div>
      <br/>
    </div>
    <div class="well">
      <h3><span class="label label-default">Freelance</span>&nbsp;<small>Enterprise Integration, Server-side</small></h3>
      <div>
        I offer freelance Java software engineering services with a focus on business services, quality code and enterprise integration. I specialise in server-side processes, Apache Camel and high performance multi-threaded code. I also offer Java mentoring and interview preparation, plus I can conduct your Java technical interviews for you.
      </div>
      <br/>
    </div>
    <div class="well">
      <!--
          PeoplePerHour Profile Widget
          The div#pph-hire me is the element
          where the iframe will be inserted.
          You may move this element wherever
          you need to display the widget
      -->
      <div id="pph-hireme"></div>
      <script type="text/javascript">
      (function(d, s) {
          var useSSL = 'https:' == document.location.protocol;
          var js, where = d.getElementsByTagName(s)[0],
          js = d.createElement(s);
          js.src = (useSSL ? 'https:' : 'http:') +  '//www.peopleperhour.com/hire/4094048630/644567.js?width=300&height=315&orientation=vertical&theme=light&hourlies=126117%2C126380&rnd='+parseInt(Math.random()*10000, 10);
          try { where.parentNode.insertBefore(js, where); } catch (e) { if (typeof console !== 'undefined' && console.log && e.stack) { console.log(e.stack); } }
      }(document, 'script'));
      </script>
    </div>

    <div class="well">
      <a class="twitter-timeline" href="https://twitter.com/MattBiggin" data-widget-id="430624670119772160">Tweets by @MattBiggin</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
