<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/" title="Home"><i class="fa fa-home"></i>&nbsp;Matt Biggin</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="/blog/" title="Blog"><span class="label label-warning"><i class="fa fa-rss"></i></span></a></li>
      <li><a href="/info/" title="About"><span class="label label-default"><i class="fa fa-info"></i></span></a></li>
      <li><a href="/hire/" title="Hire Me"><span class="label label-primary">Hire Me</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a target="_blank" title="Twitter" href="http://twitter.com/u/mattbiggin/"><i class="fa fa-twitter"></i></a></li>
      <li><a target="_blank" title="LinkedIn" href="http://uk.linkedin.com/in/mattbiggin/"><i class="fa fa-linkedin"></i></a></li>
      <li><a target="_blank" title="GitHub" href="https://github.com/ultraflynn"><i class="fa fa-github"></i></a></li>
      <li><a target="_blank" title="Instagram" href="http://instagram.com/ultraflynn"><i class="fa fa-instagram"></i></a></li>
      <li><a target="_blank" title="Stack Overflow" href="#"><i class="fa fa-stack-overflow"></i></a></li>
      <li><a target="_blank" title="Trello" href="#"><i class="fa fa-trello"></i></a></li>
      <li><a target="_blank" title="Google+" href="https://plus.google.com/u/0/+MattBiggin"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
</div>