---
layout: base
---
<ol class="breadcrumb">
  <li><a href="/"><span class="label label-default">Home</span></a></li>
  <li><a href="/blog/"><span class="label label-default">Blog</span></a></li>
  <li class="active"><span class="label label-info">{{ page.title }}</span></li>
</ol>

<h3 class="clear">
  <a href="{{ post.url }}" title="{{ post.title }}">{{ page.title }}</a>
  <small>{{ page.date | date_to_long_string }}</small>
</h3>
<p class="post-meta">{{ page.date | date_to_string }}
{% for tag in page.tags %}
<a href="/tags/#{{ tag }}"><span class="badge">{{ tag }}</span></a>
{% endfor %}
</p>
{% if page.thumbnail %}
  <div class="pull-left"><img src="{{ post.thumbnail }}" height="75" width="75" class="thumbnail"/></div>
{% endif %}
<div class="post">
{{ content }}
</div>
